.clear:after {
            clear: both;
            content: '';
            display: block;
            width: 0;
            height: 0;
            visibility: hidden;
        }
        .left{
            width: 25%;
            float: left;
        }
        .right{
            width: 60%;
            float: left;
        }
        img{
            width: 270px;
            margin-left: 30px;
        }
        button{
            width: 270px;
            height: 40px;
            margin-top: 10px;
            margin-left: 30px;
            background-color: #434343;
            color: white;
            font-size: larger;
        }
        .right>p>span{
            color: #32A5CE;
        }
        .right>span{
            color: #FFA854;
            font-size: 30px;
        }
        .pp>span{
            font-size: larger;
            color: orangered;
        }
        .right>*{
            padding-top: 10px;
        }
        .all{
            margin-top: 30px;
        }
